.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label-item {
    display: flex;
}

