.container-challenge {
  display: inline-table;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marginNavbar{
  margin-top: 130px;
}

.container-challenge h3 {
  color: #002661;
  font-weight: bold;
  margin-bottom: 0;
}

.container-table {
  width: 50rem; 
  padding: 2rem;
}

.title-table {
  color: #ECF0F1;
  font-weight: bold;
  padding: 1rem 1rem;
  text-align: left;
  background-color: #002661;
  margin-bottom: 2rem;
}

.tr-table {
  background-color: #f9f9f9;
  padding: 1rem 1rem;
  text-align: left;
  margin-bottom: 2rem;
  width: 70%;
  color: #002661;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
  text-overflow: ellipsis;
}

.title-table, .tr-table {
  border: 1px solid #ddd;
}

.img-form {
  width: 15rem; 
  max-width: 20rem; 
  margin-bottom: 1rem;
}
.tr-table .container-button {
  border-bottom: 0.7rem solid #002661; 
}

.container-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-select{
  padding: 15px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #f9f9f9;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30vw;
  min-width: 30vw;
  color: #002661;
}

.container-select option{
  width: 100%;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
  text-overflow: ellipsis;
  background-color: #ECF0F1;
  color: #002661;
}


.container-select:hover {
  letter-spacing: 4px;
  color: #002661;
  box-shadow: 0 0 15px #92FFC0, 0 0 15px #002661;
}

  .CardActionButtonContainer{
    border: none;
    background-color: transparent;
  }

  .CardActionButtonContainer img{
    cursor: pointer;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    margin: 0.2rem;
    transition: 0.5s;
    min-width: 30px;
    max-width: 30px;
    transition: 0.2;
    background-color: #9acd32;
  }

  .CardActionButtonContainer img:hover{
    box-shadow: #858585 0 6px;
    transform: translateY(-2px);
  }

  .CardActionButtonContainer img:active{
    transform: translateY(1px);
    box-shadow: none;
  }

  button .delete{
    background-color: #df4747;
  }

  .titleAling{
    display: flex;
    justify-content: center;
  }

  .targetState{
    width: 100%;
    border: none;
    display: grid;
    place-items: center;
  }

  .createTargetState{
    background-color: #9acd32;
    border-radius: 50px;
    padding: 5px;
    transition: 0.2s;
  }

  .createTargetState:hover{
    transform: scale(0.9);
  }

  
@media (max-width: 768px){

  .container-button{
    display: flex;
    flex-direction: column;
  }
  
  .container-challenge {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100vw;
  }
  
  .centered-table{
    width: 80%;
  }
  
  .container-select{
    max-width: 60vw;
  }
  }