.container-challenge{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.container-challenge h3{
    letter-spacing: 2px;
    color: #ECF0F1;
    text-shadow: 1px 1px 3px #bebebe,
    -1px -1px 3px #ffffff;
}

.centered-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.container-select {
    margin: 30px 0;
    padding: 15px 10%;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    letter-spacing: 1.5px;
    transition: 0.5s;
  }
  
.container-select:hover {
    border-radius: 0;
    letter-spacing: 4px;
    background-color: #92FFC0;
    color: hsl(0, 0%, 100%);
    box-shadow: #92FFC0 0px 7px 29px 0px;
  }

.custom-options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 99;
}

.custom-options .custom-option {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.custom-options .custom-option:hover {
    background: #f0f0f0;
}


.container-table {
    border-collapse: collapse;
    width: 80%; 
    border: 0.1em solid #ddd; 
    border-radius: 15px;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

}

.container-table  th, td {
    background-color: #ECF0F1;
    padding: 1.5%;
    text-align: left;
}

th {
    background-color: #f2f2f2;    
}

.button-edit{
    cursor: pointer;
    width: 6%;
    border-radius: 15%;
}

.logo-edit{
    width: 100%;
}

.edit{
    display: flex;
    justify-content: center;
}

.img-form{
    width: 20%;
    cursor: pointer;
}

.button-add{
    cursor: pointer;
    width: 18%;
}

.button-add-ob{
    cursor: pointer;
    width: 20%;
}

 .img-plus{
    width: 80%;
} 

.img-plus-ob{
    width: 100%;
}

.img-plus-ex{
    width: 100%;
}

.img-delete{
    width: 100%;
}

.button-add-t{
    cursor: pointer;
    width: 8%;
    border-radius: 8%;
}

.container-button{
    display: flex;
    gap: 2%;
}

.tr-table{
    width: 20%;
}

.title-table{
    font-weight: bold;
    color: #4d4d4d;
    width: 2%;
}

.description{
    max-width: 12vw;
    word-wrap: break-word;
}