.container-challenge {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    border-radius: 1em;
    padding: 2vw;
}

.centered-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1em;
    padding: 2vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    border-collapse: collapse;
    width: 75%;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.container-table {
    border-collapse: collapse;
    width: 80%;
    border: 0.4em solid #002661;
    border-radius: 1em;
    overflow: hidden;
    background: linear-gradient(91deg, #77e2b7 0.41%, #938fcb 22.24%, #6a97c8 50.06%, #90dbe0 98.15%);
    box-shadow: inset 16px 16px 16px #c9cccd, inset -8px -16px 16px #ffffff;
}

.container-table tr:nth-child(even) {
    background-color: #f2f2f2;

}

.container-table th, .container-table td {
    background-color: #f9f9f9;
    border: 0.1em solid #ddd;
    padding: 1vw;
    text-align: left;
    font-size: 1rem;
}

.container-table th {
    background-color: #f2f2f2;
    font-size: 1.1rem;
}

.button-edit {
    cursor: pointer;
    width: 2vw;
    border-radius: 15%;
    padding: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(91deg, #77e2b7 0.41%, #938fcb 22.24%, #6a97c8 50.06%, #90dbe0 98.15%);
    border: 0.1em solid #ddd;

}

.logo-edit {
    width: 100%;
}

.edit {
    display: flex;
    justify-content: center;
}

.img-form {
    width: 20%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img-form:hover {
    transform: scale(1.1);
}

.button-add {
    cursor: pointer;
    width: 18vw;
    border-radius: 0.5em;
    padding: 0.5vw;
    background-color: #f9f9f9;
    border: 0.1em solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(91deg, #77e2b7 0.41%, #938fcb 22.24%, #6a97c8 50.06%, #90dbe0 98.15%);

}

.button-add:hover {
    cursor: pointer;
    width: 20vw;
    border-radius: 0.5em;
    padding: 0.5vw;
    background-color: #f9f9f9;
    border: 0.1em solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(91deg, #77e2b7 0.41%, #938fcb 22.24%, #6a97c8 50.06%, #90dbe0 98.15%);
}

.img-plus {
    width: 80%;
}

.img-plus-ob {
    width: 100%;
}

.img-plus-ex {
    width: 100%;
}

.img-delete {
    width: 100%;
}

.button{
    cursor: pointer;
    width: 18vw;
    border-radius: 0.5em;
    padding: 0.5vw;
    background-color: #f9f9f9;
    border: 0.1em solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add-t {
    cursor: pointer;
    width: 8vw;
    border-radius: 8%;
    padding: 0.5vw;
    background-color: #f9f9f9;
    border: 0.1em solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(91deg, #77e2b7 0.41%, #938fcb 22.24%, #6a97c8 50.06%, #90dbe0 98.15%);

}

.container-button {
    display: flex;
    justify-content: left;
    align-items: center;
}

.tr-table {
    width: 40%;
}

.title-table {
    font-weight: bold;
    color: #4d4d4d;
    width: 20%;
}

.description {
    max-width: 12vw;
    word-wrap: break-word;
}

.button-add {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(91deg, #77e2b7 0.41%, #938fcb 22.24%, #6a97c8 50.06%, #90dbe0 98.15%);
}