 .navbar {
  background-color: #ECF0F1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2500;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
 }

 .logo-name {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}

.logo-img-name {
  margin: 0; 
  margin-left: 3%;
  letter-spacing: 1.5px;
  line-height: 0.5%;
}

.logo-img {
  width: 13%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin-right: 4vw;
}

.nav-links li {
  margin: 0 0.7vw;
  color: #002661;

}
  
.nav-links li a{
  text-decoration: none;
  color: #002661;
  padding: 30px 0;
}

.nav-button {
      transition: 0.6s;  
      border-radius: 40px;
      background: #ECF0F1;
      padding: 15px 25px;
      cursor: pointer;
      box-shadow:  5px 5px 32px #c9cccd, -5px -5px 32px #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
}

.nav-button:hover {
box-shadow: 0 0 10px #92FFC0, 0 0 10px #002661;
}

 .nav-display {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 69%; 
  left: 87%; 
  background-color: #ECF0F1; 
  z-index: 1; 
  border-radius: 8%;
  width: 6%;
  color: #002661;
}

.line{
  border: solid #002661 1px;
  width: 90%;
}

.title-li-nav{
  text-decoration: none;
  color: #002661;
  padding: 8px;
  border-radius: 10px;
}

.title-li-nav:hover {
  background-color: #002661;
  color: #ECF0F1;
  font-weight: bold;
}

.menu-toggle {
  display: none; 
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
}


@media (max-width: 580px) {
 
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .menu-toggle.open + .nav-links {
    display: flex;
  }
} 

