.navbar {
  background-color: #ECF0F1;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vw;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  font-size: 2vw;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 3vw;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
}

.nav-button {
  transition: 0.6s;
  border-radius: 2vw;
  background: #ECF0F1;
  padding: 1vw 2vw;
  cursor: pointer;
  box-shadow: 2vw 2vw 4vw #c9cccd, -2vw -2vw 4vw #ffffff;
}

.nav-button:hover {
  box-shadow: 2vw 2vw 4vw #92FFC0, -2vw -2vw 4vw #002661;
}

.menu-icon {
  display: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
}

.nav-links li {
  margin-left: 0;
  margin-bottom: 1vw;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    width: 2.5vw;
    height: 0.25vw;
    background-color: #000;
    margin: 0.5vw 0;
  }

  .active .hamburger:nth-child(1) {
    transform: rotate(-45deg) translate(-0.5vw, 0.6vw);
  }
  
  .active .hamburger:nth-child(2) {
    opacity: 0;
  }
  
  .active .hamburger:nth-child(3) {
    transform: rotate(45deg) translate(-0.5vw, -0.6vw);
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ECF0F1;
    width: 100%;
    padding: 2vw;
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 1vw;
  }

  .nav-button {
    display: block;
    margin-bottom: 1vw;
  }
}
