df-messenger {
    z-index: 999;
    position: fixed;
    --df-messenger-font-size: 16px;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: linear-gradient(91deg, #77e2b7 0.41%, #938fcb 22.24%, #6a97c8 50.06%, #90dbe0 98.15%);
    bottom: 12px;
    right: 16px;
    z-index: 2000;
  }