.cardContainer {
    width: 70vw;
    border-radius: 15px;;
    padding: 20px;
    margin-top: 15vh;;
  }
  
  .card-center{
    width: 100vw;
    display: grid;
    place-items: center;
    min-height: 85vh;
  
  }
