.aboutUs-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ECF0F1;
  padding: 0 5vw;
  text-align: center;
}

iframe{
  margin-top: 50px 0 30px 0;
  width: 50vw;
  height: 30vw;
}

.aboutUs-container header{
  background-image: url(../../assets/img/futuristicHome.jpeg);
  background-position: center;
  background-size: cover;
  width: 98.9vw;
  height: 300px;
  margin-top: 120px;
}

.leanKata-backdrop{
  backdrop-filter: blur(3px);
  background-color: rgba(33, 42, 110, 0.649);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.leanKata-backdrop span{
  color: greenyellow;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.leanKata-backdrop h1{
  color: #ECF0F1;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  margin-left: 3%;
  animation: fadeInSlideUp 1.1s ease-out forwards;
}

.aboutUs-container section{
  display: flex;
  text-align: left;
  padding: 30px;
  margin: 50px 0;
}

.aboutUs-container section p{
  width: 250px;
  margin: 10px 40px;
  margin-right: 10px;
  color: rgb(87, 87, 87);
}

section h3 span{
  color: rgb(78, 177, 69);
}

.shortDescription{
  width: 50vw;
  margin: 40px 0;
  color: rgb(87, 87, 87);
  
}

.leankataDescription{
  display: grid;
  place-items: center;
}

main hr{
  border: none;
  height: 1px;
  background-color: #9acd32;
  margin: 20px 0;
  width: 50%;
  margin: 0 25%;
  margin-bottom: 50px;
  margin-top: 60px;
}

.smallCard{
  border-radius: 15px;
  box-shadow: 10px 10px 10px #9e9e9e;
  margin: 10px;
}

main section h3{
  font-size: 25px;
  width: 350px;
  margin: 0;
  margin: 10px 0;
}

.cardsContainer{
  display: flex;
  justify-content: space-evenly;
}

.cardsContainer p{
  font-size: 12px;
  padding: 0 10px;
}

.card {
  width: 190px;
  height: 150px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#b0e633, #53ef7d);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 1s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

@media (max-width: 768px){

  main section h3{
    width: 80vw;
  }

  .aboutUs-container section p{
    width: 80vw;
  }
  
  .card{
  margin: 35px 0;
  }

  .aboutUs-container section{
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
  }

  iframe{
    width: 80vw;
    height: 45vw;
  }

  .cardsContainer{
    display: grid;
    place-items: center;
  }

}