body {
  background-color: #ECF0F1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-container {
  display: grid;
  place-content: center;
}

.container-principal{
  display: flex;
  width: 100%;
  margin-top: 200px;

}

.container-title{
  width: 50%;
  margin-top: 1%;
}

.title-home {
  color: #002661; 
  font-size: 2.2vw; 
  letter-spacing: 0.05em;
  margin-bottom: 1.5vh;
}

.home-container-calendar {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title-th-home{
  padding: 18px;
  background-color: #002661;
  color: #FFFF;
  font-size: 1.1rem;
}

.challenge-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1000px;
  padding: 20px;
}

.table-challenge{
  transition: 0.5s;
}

.table-challenge:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
  background-color: #0027613e;
  cursor: pointer;
}

.table-container{
  max-width: 100%;
}

.responsive-table{
  border-collapse: collapse;
}