
body {
  background-color: #ECF0F1;
  margin: 0; 
  padding: 0; 
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrado horizontal */
  padding: 30px;
  max-width: 90%; /* Ajustado el ancho máximo */
  margin: 0 auto; /* Centrado horizontal */
}

.SearchBar {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.SearchBar:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

h2 {
  margin: 0;
  margin-bottom: 12px;
  border-radius: 16px;
  background-color: #ECF0F1;
  padding: 20px;
 
}

.gallery-items {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  margin-bottom: 12px;
  border-radius: 16px;
  background-color: #ECF0F1;
  padding: 40px;
  border-radius: 16px;
  box-shadow: inset 8px 8px 16px #c9cccd,
              inset -8px -8px 16px #ffffff;}

.challenge-wrapper {
  border: none;
  border-radius: 16%;
  margin-top: 15px;
  margin-bottom: 5px;
  transition: 0.6s;
  border-radius: 16px;
  background: #ECF0F1;
  padding: 8px 450px;
  cursor: pointer;
  box-shadow: 8px 8px 16px #c9cccd, -8px -8px 16px #ffffff;
}

h3 {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-left: 10%;
}

.challenge-description {
  display: flex;
  justify-content: space-between;
  width: 250%;
  margin-left: -80%;
  padding-right: 40%;
}

.challenge-description span {
  flex: 1;
}

.challenge-table {
  display: table;
  width: 100%;
}

.table-row {
  display: table-row;
}

.table-cell-title {
  display: table-cell;
  background-color: #f9f9f9;
  padding: 1em;
  font-weight: bold;
  font-size: 1.1em;
  color: #4d4d4d;
  text-align: center;
  border: 1px solid #ddd;
}

.table-cell {
  display: table-cell;
  padding: 1em;
  cursor: pointer;
  border: 1px solid #ddd;
}

.table-cell-actualstate {
  display: table-cell;
  padding: 1em;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  overflow: hidden; /* Oculta el texto que sobresale del contenedor */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto es recortado */
  width: 100%; /* Opcional: para que el texto ocupe todo el ancho disponible */
} 

.logos{
  display: flex;
  justify-content: space-around;
}

.logo-update{
  width: 8%;
}