.footer-container {
    position: fixed; /* Fijar el footer */
    bottom: 0; /* Alinearlo al pie de la página */
    width: 100vw; /* Ancho completo de la ventana */
  }

.pFooter{
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}

.blue{
  background-color: #587175;
  color: #ECF0F1;
}

.transparent{
  background-color: transparent;
}